@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

